---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "At this moment...",
    title: "Freelance Developer",
    company: "Upwork",
    description:
      "Skilled Freelance Developer specializing in custom web applications and websites. Proficient in front-end and back-end development, delivering high-quality solutions tailored to client needs. Experienced in diverse industries, adept at adapting to new projects and technologies.",
    link: "https://www.upwork.com/freelancers/~0105e3b8fc10aff2a9",
  },
  {
    date: "March 2024",
    title: "Front End Developer Trainee",
    company: "Birmingham University",
    description:
      "Joined an EDx bootcamp as a Front End Developer Trainee. This role provided valuable hands-on experience and training in front-end development technologies and methodologies. Collaborated with experienced developers to learn industry best practices and enhance skills in HTML, CSS, JavaScript, and related frameworks. Contributed to various projects, gaining practical knowledge and insights into real-world development scenarios.",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
